.ant-input,
.ant-input-number-input,
.ant-select-selector,
.ant-picker {
  border-radius: 6px !important;
  border-color: #d9d9d9 !important;
  transition: all 0.3s ease !important;
}

.ant-input:hover,
.ant-input-number:hover .ant-input-number-input,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-picker:hover {
  border-color: #021529 !important;
  box-shadow: 0 0 0 2px rgba(2, 21, 41, 0.1) !important;
}
.ant-input:focus,
.ant-input-focused,
.ant-input-number-input:focus,
.ant-input-number-focused .ant-input-number-input,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker-focused {
  border-color: #021529 !important;
  box-shadow: 0 0 0 2px rgba(2, 21, 41, 0.2) !important;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #021529 !important;
  border-color: #021529 !important;
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #ffd72d !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #021529 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #021529 !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #021529 !important;
}

.light-btn {
  background: #ffd72d;
  color: #021529;
  font-weight: 600;
  border: 1px solid #ffd72d;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  width: max-content;
  margin-top: 0.3rem;
  transition: all 0.3s ease;
  align-self: flex-start;
}

.light-btn:hover {
  background: #021529 !important;
  color: #ffd72d !important;
  border-color: #021529 !important;
}

.dark-btn {
  background: #021529;
  color: #ffd72d;
  border: 1px solid #021529;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.0rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-btn:hover {
  background-color: #06386e !important;
  border-color: #06386e !important;
  color: #ffd72d !important;
}

.ant-upload.ant-upload-select {
  display: block !important;
}

.custom-datepicker .ant-picker-input > input {
  border-radius: 6px;
}
.ant-form-item-label > label {
  font-weight: 500;
  color: #021529;
}

.ant-card-head {
  border-bottom: 1px solid #f0f0f0;
}

.ant-card-head-title {
  font-weight: 600;
  color: #021529;
}

.error-message {
  color: #ff4d4f;
  margin-bottom: 10px;
  font-size: 14px;
}


@media (max-width: 768px) {
  .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  
  .ant-steps-item-title {
    font-size: 12px !important;
  }
}